td {
    background-color: lightgoldenrodyellow;    
    font-size: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    transition: .5s;
    border: 2px solid black;
    margin: 10px auto;
}
table {
    margin: 10px auto;
    border-radius: 2%;
    border: 5px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.box {
    background-color: lightgrey;
    width: 185px;
    height: 50px;
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
}

.box-button {
    width: 185px;
    height: 50px;
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
}


